* {
  margin: 0;
}
.body {
    background: linear-gradient(lightgrey, #E5E5E5);
}
.centralColumn {
  margin: 0 15px;
}
@media all and (min-width: 720px) {
  .centralColumn {
    margin: 0 45px;
  }
}
@media all and (min-width: 1200px) {
  .centralColumn {
    margin: 0 auto;
    max-width: 1200px;
  }
}

/* header */
.header {
  font-size: 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  background: linear-gradient(grey, lightgrey);
}
@media all and (min-width: 720px) {
  .header {
    font-size: 40px;
  }
}
@media all and (min-width: 1200px) {
  .header {
    font-size: 50px;
  }
}

/* game  */
.game {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.game__instructions {
  margin-bottom: 20px;
}
.game__form {
  margin-bottom: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
@media all and (min-width: 720px) {
    .game__form {
        font-size: 22px;
      }
  }
@media all and (min-width: 1200px) {
    .game__form {
        font-size: 24px;
      }
 }
.game__form--button {
    font-size: 18px;
}
.game__display {
  max-width: inherit;
  font-size: 18px;
}
.game__display--clues {
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}
.game__display--tries {
  padding: 5px;
  border: 1px solid black;
}
.clue__display--title {
  display: inline-block;
  margin: 0;
}
.clue__display--window {
  display: inline-block;
}
.tries__display--title {
  display: inline-block;
  margin: 0;
}
.tries__display--window {
  display: inline-block;
}
.js-clue {
  margin: 0;
}
